---
layout: page
permalink: /
thumb_force_logo: true
title: The Complete CSS Demo for OpenType Features
css: |
  :root {
    --font-features: normal;
  }
---

{%- include amsf/core -%}

<p>This page, should be by far, the most complete CSS <code>font-feature-settings</code> demo for OpenType Features on the web.</p>

<blockquote>
  <p>Global <code>--font-features</code> is disabled on this page.</p>
</blockquote>


{% for feature in site.data.font-features %}
  <h2 id="{{ feature.slug }}">{{ feature.title }}: <code>{{ feature.slug }}</code></h2>
  {{ feature.desc | markdownify }}

  {% if feature.links %}
    <ul>
      {% for link in feature.links %}
        <li>{{ link | markdownify | remove: '<p>' | remove: '</p>' }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <p class="demo {{ feature.demo.font }} {% if feature.demo.multiline %}demo-multiline{% endif %}">
    {% for demo in feature.demo.css %}
      <span style='font-feature-settings: {{ demo }}'>{{ feature.demo.text }}</span>
    {% endfor %}
  </p>
{% endfor %}

<hr>

<p>Special thanks: <a href="https://gordianz.com/">Gordian Zhang</></p>
