//
// User styles
// -----------------------------------------------------------------------------
// NOTE: the following user styles are designed for default theme Curtana

// EXAMPLE: alternative title size
// By default all heading levels have the same font size, but many people may
// not like this, so here's an alternative font size stack:
// .content {
//   h2 { font-size: 108%; opacity: .8; }
//   h3 { font-size: 96%;  opacity: .7; }
//   h4 { font-size: 84%;  opacity: .6; }
//   h5 { font-size: 72%;  opacity: .5; }
//   h6 { font-size: 60%;  opacity: .4; }
// }

// EXAMPLE: alternative post title color
// This is useful when you're using the custom color scheme.
// .content { .list h2 a, header h1, header h1 a { color: var(--link-color); } }
// .external span { background: var(--link-color); }

// EXAMPLE: Custom typography for Chinese Traditional
// :root {
//   --fontstack-sans-serif: "Helvetica Neue", "Hiragino Sans GB", Arial, sans-serif;
//   --fontstack-serif: Georgia, "Hiragino Mincho ProN", serif;
// }

// EXAMPLE: amsf.github.io custom appearance
.content .sub-title {
  font-size: 108%;
  opacity: .8;
}

:root {
  --space-lg: 18vw;
}

.content .demo {
  @include heading();
  --base-font-size: 220%;
  font-size: var(--base-font-size);
  line-height: var(--line-height);
  color: #000;
  background: rgba(#000, .04);
  transition: all .1s ease;

  --space-code: var(--space-lg);
  padding-top: var(--space-sm);
  padding-bottom: var(--space-sm);
  @include padding-offset(var(--space-code));
  @include margin-offset(calc(var(--space-code) * -1));

  @media (max-width: $breakpoint-md) {
    --space-code: var(--space-md);
  }

  @media (max-width: $breakpoint-sm) {
    --space-code: var(--space-sm);
  }

  > span {

    i {
      font-style: normal;
    }

    &:last-child i {
      color: var(--link-color);
      transition: all .1s ease;
    }
  }

  &:hover {
    color: #fff;
    background: var(--link-color);

    > span {

      &:last-child i {
        color: #fff;
      }
    }
  }

  &-xl {
    --base-font-size: 480%;

    @media (max-width: $breakpoint-md) {
      --base-font-size: 220%;
    }

    @media (max-width: $breakpoint-sm) {
      --base-font-size: 220%;
    }
  }

  &-lg {
    --base-font-size: 320%;

    @media (max-width: $breakpoint-md) {
      --base-font-size: 220%;
    }

    @media (max-width: $breakpoint-sm) {
      --base-font-size: 220%;
    }
  }

  &-multiline > span {
    display: block;
  }

  &-ruby-fix {
    padding-top: calc(var(--space-sm) + .45em);
  }
}

.demo-code {
  margin-bottom: 1.8rem;
  color: var(--code-color);
  background: rgba(#000, .08);
  font-family: var(--fontstack-monospace);

  --space-code: var(--space-lg);
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xs);
  @include padding-offset(var(--space-code));
  @include margin-offset(calc(var(--space-code) * -1));

  @media (max-width: $breakpoint-md) {
    --space-code: var(--space-md);
  }

  @media (max-width: $breakpoint-sm) {
    --space-code: var(--space-sm);
  }

}
