//
// User styles
// -----------------------------------------------------------------------------
// NOTE: the following user styles are designed for default theme Curtana

// EXAMPLE: alternative title size
// By default all heading levels have the same font size, but many people may
// not like this, so here's an alternative font size stack:
// .content {
//   h2 { font-size: 108%; opacity: .8; }
//   h3 { font-size: 96%;  opacity: .7; }
//   h4 { font-size: 84%;  opacity: .6; }
//   h5 { font-size: 72%;  opacity: .5; }
//   h6 { font-size: 60%;  opacity: .4; }
// }

// EXAMPLE: alternative post title color
// This is useful when you're using the custom color scheme.
// .content { .list h2 a, header h1, header h1 a { color: var(--link-color); } }
// .external span { background: var(--link-color); }

// EXAMPLE: Custom typography for Chinese Traditional
// :root {
//   --fontstack-sans-serif: "Helvetica Neue", "Hiragino Sans GB", Arial, sans-serif;
//   --fontstack-serif: Georgia, "Hiragino Mincho ProN", serif;
// }

:root {
  --space-lg: 18vw;

  --tag-normal: #00af6c;
  --tag-default: #277dda;
  --tag-wip: #ff9d00;
  --tag-na: #e6335a;
}

.content {

  h1, h2 {
    @extend .of-sf-pro-display;
  }

  header {
    position: relative;
    color: #fff;
    background: var(--link-color);
    background: linear-gradient(135deg, #001022 0%,#001607 100%);
    overflow: hidden;

    &:after {
      content: 'Grumpy wizards make toxic brew for the evil Queen and Jack & the quick brown fox jumps over the lazy dog. ';
      position: absolute;
      top: -.5em;
      left: -.5em;
      width: 140%;
      font-size: 850%;
      @extend .of-bree;
      line-height: .94;
      font-weight: bold;
      color: #05efef;
      mix-blend-mode: soft-light;
      pointer-events: none;
      opacity: .6;
    }

    h1 {
      z-index: 1;
    }
  }

  h2 {
    margin-top: 15vmin;
    font-weight: bold;
    font-size: 180%;
    opacity: 1;

    @media (max-width: $breakpoint-sm) {
      font-size: 140%;
    }

    .of-spec-link {

      &,
      code {
        color: var(--link-color);
      }
    }
  }

  h3 {
    margin-top: 5vmin;
    margin-bottom: .5rem;
  }

  .sub-title {
    font-size: 108%;
    opacity: .8;
  }

  // Link color schemes
  a {

    &.tag {

      &,
      code {
        color: var(--tag-normal);
      }
    }

    &.tag-default {

      &,
      code {
        color: var(--tag-default);
      }
    }

    &.tag-wip {

      &,
      code {
        color: var(--tag-wip);
      }
    }

    &.tag-na {

      &,
      code {
        color: var(--tag-na);
      }
    }
  }

  .feature-list {

  }

  .demos {
    @include heading();
    --base-font-size: 220%;
    font-size: var(--base-font-size);
    line-height: var(--line-height);
    color: #000;
    background: rgba(#000, .02);
    transition: all .1s ease;

    --space-code: var(--space-lg);
    padding-top: var(--space-sm);
    padding-bottom: var(--space-sm);
    @include padding-offset(var(--space-code));
    @include margin-offset(calc(var(--space-code) * -1));

    @media (max-width: $breakpoint-md) {
      --space-code: var(--space-md);
    }

    @media (max-width: $breakpoint-sm) {
      --space-code: var(--space-sm);
    }

    .demo {
      display: inline-block;

      i {
        font-style: normal;
      }

      &.demo-after i {
        color: var(--tag-normal);
        transition: all .1s ease;
      }
    }

    &.tag-default .demo-after i {
      color: var(--tag-default);
    }

    &.tag-wip .demo-after i {
      color: var(--tag-wip);
    }

    &.tag-na .demo-after i {
      color: var(--tag-na);
    }

    @media (max-width: $breakpoint-sm) {
      --base-font-size: 180%;
      word-break: keep-all;
      white-space: nowrap;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
    }

    &-xl {
      --base-font-size: 480%;

      @media (max-width: $breakpoint-md) {
        --base-font-size: 320%;
      }

      @media (max-width: $breakpoint-sm) {
        --base-font-size: 280%;
      }
    }

    &-lg {
      --base-font-size: 320%;

      @media (max-width: $breakpoint-md) {
        --base-font-size: 220%;
      }

      @media (max-width: $breakpoint-sm) {
        --base-font-size: 200%;
      }
    }

    &-sm {
      --base-font-size: 180%;

      @media (max-width: $breakpoint-md) {
        --base-font-size: 170%;
      }

      @media (max-width: $breakpoint-sm) {
        --base-font-size: 160%;
      }
    }

    &-rtl {

      &,
      & .demo {
        direction: rtl;
      }
    }

    &-multiline .demo {
      display: block;
    }

    &-ruby-fix {
      padding-top: calc(var(--space-sm) + .45em);
    }

    &-outline {

      .demo {

        i {
          border-right: 1px solid;

          &:first-child {
            border-left: 1px solid;
          }
        }
      }
    }
  }

  // Code block container override
  .demo-code .highlight > pre {
    background: rgba(#000, .04);

    --space-code: var(--space-lg);
    @include padding-offset(var(--space-code));
    @include margin-offset(calc(var(--space-code) * -1));

    @media (max-width: $breakpoint-md) {
      --space-code: var(--space-md);
    }

    @media (max-width: $breakpoint-sm) {
      --space-code: var(--space-sm);
    }
  }

  .meta {

    @media (max-width: $breakpoint-sm) {
      margin-left: 0;
    }

    li {
      display: inline-block;

      &::before {
        display: none;
      }
    }

    .tag {
      display: inline-block;
      line-height: 1;
      font-size: 80%;
      color: #fff;
      background: #333;
      border-radius: 4px;
      text-transform: uppercase;
      padding: 4px 10px;
      font-weight: bold;
      word-break: keep-all;
      white-space: nowrap;
      font-feature-settings: "case";
      cursor: help;
    }

    .tag-default {
      background: var(--tag-default);
    }

    .tag-wip {
      background: var(--tag-wip);
    }

    .tag-na {
      background: var(--tag-na);
    }
  }

  // External links
  .links a:before,
  .link:before {
    display: inline-block;
    --size: var(--font-size);
    width: var(--size);
    height: var(--size);
    vertical-align: -.125em;;
    margin-right: .25em;

    @media (max-width: $breakpoint-md) {
      --size: calc(var(--font-size) * 1.4);
    }

    @media (max-width: $breakpoint-sm) {
      --size: calc(var(--font-size) * 2.4);
    }

    @media (max-width: $breakpoint-xs) {
      --size: calc(var(--font-size) * 3.2);
    }
  }

  .links a[href*="typekit.com"]:before,
  .link[href*="typekit.com"]:before {
    content: ' ';
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20viewBox%3D%220%200%2033%2033%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%221.414%22%3E%3Cpath%20fill%3D%22%23152600%22%20fill-rule%3D%22nonzero%22%20d%3D%22M.87.87h31.26v31.26H.87z%22%2F%3E%3Cpath%20d%3D%22M0%200v33h33V0H0zm1.791%201.74h29.418v29.52H1.791V1.74z%22%20fill%3D%22%2387ec00%22%20fill-rule%3D%22nonzero%22%2F%3E%3Cpath%20d%3D%22M10%2010.79H6.34a.16.16%200%200%201-.16-.16l.24-1.79a.16.16%200%200%201%20.16-.16h9a.13.13%200%200%201%20.16.09.094.094%200%200%201%200%20.07l.16%201.79a.13.13%200%200%201-.09.16h-3.46v12.5a.16.16%200%200%201-.16.16h-2a.16.16%200%200%201-.16-.16v-12.5H10zm9.74%206.68L23%2013a.261.261%200%200%201%20.2-.15h2.19c.16%200%20.16.08.08.16-.55.7-2.89%203.58-3.67%204.51v.16l4.2%205.53c.08.08%200%20.16-.08.16h-2.5a.261.261%200%200%201-.19-.16c-.71-.93-2.49-3.47-3.43-4.74v4.74a.13.13%200%200%201-.09.16h-2.14a.13.13%200%200%201-.16-.09.094.094%200%200%201%200-.07V8.84a.13.13%200%200%201%20.09-.16h2.1a.16.16%200%200%201%20.16.16v8.62l-.02.01z%22%20fill%3D%22%2387ec00%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E');
  }

  .links a[href*="fonts.google.com"]:before,
  .link[href*="fonts.google.com"]:before {
    content: ' ';
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20viewBox%3D%220%200%20100%20100%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%221.414%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2245%22%20fill%3D%22%23ff5758%22%2F%3E%3Cpath%20d%3D%22M68.518%2034.822v-9.538H35.482v53.432h10.779V57.157h17.682v-9.461H46.261V34.822h22.257z%22%20fill%3D%22%23fff%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E');
  }

  .links a[href*="developer.apple.com"]:before,
  .link[href*="developer.apple.com"]:before {
    content: ' ';
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20viewBox%3D%220%200%2073%2073%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Aserif%3D%22http%3A%2F%2Fwww.serif.com%2F%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%221.414%22%3E%3Cpath%20serif%3Aid%3D%22%EF%A3%BF-copy%22%20d%3D%22M47.106%2011.513c2.783-2.997%204.301-7.218%204.048-11.438-3.795%200-8.223%202.237-10.964%205.487-2.192%202.743-4.512%206.964-3.668%2011.227%203.921.464%208.138-2.026%2010.584-5.276zm3.71%206.205c-5.903%200-11.132%203.25-13.873%203.25-2.951%200-7.168-3.419-11.933-3.25-6.198.126-11.891%203.798-15.137%209.201-2.193%203.841-3.078%208.357-3.036%2013%20.084%208.779%203.542%2017.938%207.59%2023.805%203.12%204.432%206.62%209.201%2011.595%209.201%204.47%200%206.157-2.996%2011.976-2.996%205.439%200%207.168%202.996%2011.891%202.996%204.933%200%208.222-4.516%2011.174-8.99%203.71-5.234%204.933-10.214%205.102-10.383-.169%200-9.53-3.799-9.867-14.646%200-9.497%207.716-13.76%208.011-13.971-4.174-6.5-10.963-7.217-13.493-7.217z%22%20fill%3D%22%233d3d3d%22%2F%3E%3C%2Fsvg%3E');
  }

  // Back to top button
  .back-to-top {
    position: fixed;
    bottom: 0;
    right: 0;

    .inner {
      display: block;
      font-size: 75%;
      background: rgba(230, 230, 230, .5);
      padding: .2em 1em;
      margin-bottom: 1.1rem;
      margin-right: 1.25rem;
      border-radius: 4px;
      backdrop-filter: blur(10px);
    }

    @media (max-width: $breakpoint-sm) {
      display: none;
    }
  }
}

// TODO: This is a workaround for Sass genrating wrong !important comment
// position when related block are nested inside, you have to make sure the
// block you wanna keep by uncss the topmost level (root) of your css.
/*! uncss:ignore start */
details {

  summary {

    &:focus,
    &:hover {
      color: var(--link-color);
    }
  }

  &[open] {

    summary {
      color: var(--link-color);

      &::before {
        opacity: 1;
        transform: rotate(45deg);
      }
    }
  }
}
/*! uncss:ignore end */

// Tippy.js
/*! uncss:ignore start */
.tippy-tooltip.dark-theme {
  box-shadow: 0 6px 40px 2px rgba(0, 0, 0, .2);

  code {
    font-family: var(--fontstack-monospace);
  }
}
/*! uncss:ignore end */
