//
// Sass variables customization
// -----------------------------------------------------------------------------
// All Sass vaiables in `_variables.scss` can be overwritten below.
// Due to the limitation of Sass, I don't have variable hoisting feature like
// native CSS or Less at hand, so it's dirty to have two user defined
// stylesheets, hope for native color manipulation in the future.
//
// - This file should contain only Sass variables defined in theme Curtana.
// - CSS varaibles customization should be defined in `_user.scss`.

// Variables
$link-color: #00af6c;
$background-color: #fff;
$text-color: #000;
$code-color: #af9625;

// Typography
@font-face {
  font-family: 'of-sf-pro-display';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/sf-pro-display-bold.woff2') format('woff2');
}

.of-sf-pro-display {
  font-family: 'of-sf-pro-display', var(--fontstack-monospace);
}

// @font-face {
//   font-family: 'of-sf-pro-text';
//   font-weight: bold;
//   font-style: normal;
//   src: url('../../../fonts/sf-pro-text-bold.woff2') format('woff2');
// }

// .of-sf-pro-text {
//   font-family: 'of-sf-pro-text', var(--fontstack-monospace);
// }

// @font-face {
//   font-family: 'of-sf-ui-display';
//   font-weight: bold;
//   font-style: normal;
//   src: url('../../../fonts/sf-ui-display-bold.woff2') format('woff2');
// }

// .of-sf-ui-display {
//   font-family: 'of-sf-ui-display', var(--fontstack-monospace);
// }

@font-face {
  font-family: 'of-ubuntu-mono';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/ubuntu-mono-bold.woff2') format('woff2');
}

.of-ubuntu-mono {
  font-family: 'of-ubuntu-mono', var(--fontstack-monospace);
}

@font-face {
  font-family: 'of-sorts-mill-goudy';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/sorts-mill-goudy-regular.woff2') format('woff2');
}

.of-sorts-mill-goudy {
  font-family: 'of-sorts-mill-goudy', var(--fontstack-serif);
}

@font-face {
  font-family: 'of-cardo';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/cardo-regular.woff2') format('woff2');
}

.of-cardo {
  font-family: 'of-cardo', var(--fontstack-serif);
}

@font-face {
  font-family: 'of-yanone-kaffeesatz';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/yanone-kaffeesatz-bold.woff2') format('woff2');
}

.of-yanone-kaffeesatz {
  font-family: 'of-yanone-kaffeesatz', var(--fontstack-sans-serif);
}

@font-face {
  font-family: 'of-allan';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/allan-regular.woff2') format('woff2');
}

.of-allan {
  font-family: 'of-allan', var(--fontstack-sans-serif);
}

@font-face {
  font-family: 'of-clara';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/clara-regular.woff2') format('woff2');
}

.of-clara {
  font-family: 'of-clara', var(--fontstack-serif);
}

@font-face {
  font-family: 'of-exo';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/exo-bold.woff2') format('woff2');
}

.of-exo {
  font-family: 'of-exo', var(--fontstack-sans-serif);
}

// TypeKit
@font-face {
  font-family: 'of-hypatia-sans-pro';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/hypatia-sans-pro-bold.woff2') format('woff2');
}

.of-hypatia-sans-pro {
  font-family: 'of-hypatia-sans-pro', var(--fontstack-sans-serif);
}

// TypeKit
@font-face {
  font-family: 'of-caflisch-script-pro';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/caflisch-script-pro-regular.woff2') format('woff2');
}

.of-caflisch-script-pro {
  font-family: 'of-caflisch-script-pro', var(--fontstack-serif);
}

// TypeKit
@font-face {
  font-family: 'of-warnock-pro';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/warnock-pro-bold.woff2') format('woff2');
}

.of-warnock-pro {
  font-family: 'of-warnock-pro', var(--fontstack-sans-serif);
}

// TypeKit
@font-face {
  font-family: 'of-bickham-script-pro-3';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/bickham-script-pro-3-bold.woff2') format('woff2');
}

.of-bickham-script-pro-3 {
  font-family: 'of-bickham-script-pro-3', var(--fontstack-serif);
}

// TypeKit
@font-face {
  font-family: 'of-bree';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/bree-bold.woff2') format('woff2');
}

.of-bree {
  font-family: 'of-bree', var(--fontstack-sans-serif);
}
