//
// Sass variables customization
// -----------------------------------------------------------------------------
// All Sass vaiables in `_variables.scss` can be overwritten below.
// Due to the limitation of Sass, I don't have variable hoisting feature like
// native CSS or Less at hand, so it's dirty to have two user defined
// stylesheets, hope for native color manipulation in the future.
//
// - This file should contain only Sass variables defined in theme Curtana.
// - CSS varaibles customization should be defined in `_user.scss`.

// Typography
@font-face {
  font-family: 'of-sf-pro-display';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/sf-pro-display-bold.woff2') format('woff2');
}

.of-sf-pro-display {
  font-family: 'of-sf-pro-display', var(--fontstack-sans-serif);
}

// @font-face {
//   font-family: 'of-sf-pro-text';
//   font-weight: bold;
//   font-style: normal;
//   src: url('../../../fonts/sf-pro-text-bold.woff2') format('woff2');
// }

// .of-sf-pro-text {
//   font-family: 'of-sf-pro-text', var(--fontstack-sans-serif);
// }

// @font-face {
//   font-family: 'of-sf-ui-display';
//   font-weight: bold;
//   font-style: normal;
//   src: url('../../../fonts/sf-ui-display-bold.woff2') format('woff2');
// }

// .of-sf-ui-display {
//   font-family: 'of-sf-ui-display', var(--fontstack-sans-serif);
// }

@font-face {
  font-family: 'of-arial';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/arial-bold.woff2') format('woff2');
}

.of-arial {
  font-family: 'of-arial', var(--fontstack-sans-serif);
}

@font-face {
  font-family: 'of-ubuntu-mono';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/ubuntu-mono-bold.woff2') format('woff2');
}

.of-ubuntu-mono {
  font-family: 'of-ubuntu-mono', var(--fontstack-monospace);
}

@font-face {
  font-family: 'of-sorts-mill-goudy';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/sorts-mill-goudy-regular.woff2') format('woff2');
}

.of-sorts-mill-goudy {
  font-family: 'of-sorts-mill-goudy', var(--fontstack-serif);
}

@font-face {
  font-family: 'of-cardo';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/cardo-regular.woff2') format('woff2');
}

.of-cardo {
  font-family: 'of-cardo', var(--fontstack-serif);
}

@font-face {
  font-family: 'of-yanone-kaffeesatz';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/yanone-kaffeesatz-bold.woff2') format('woff2');
}

.of-yanone-kaffeesatz {
  font-family: 'of-yanone-kaffeesatz', var(--fontstack-sans-serif);
}

@font-face {
  font-family: 'of-allan';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/allan-regular.woff2') format('woff2');
}

.of-allan {
  font-family: 'of-allan', var(--fontstack-sans-serif);
}

@font-face {
  font-family: 'of-clara';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/clara-regular.woff2') format('woff2');
}

.of-clara {
  font-family: 'of-clara', var(--fontstack-serif);
}

@font-face {
  font-family: 'of-exo';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/exo-bold.woff2') format('woff2');
}

.of-exo {
  font-family: 'of-exo', var(--fontstack-sans-serif);
}

@font-face {
  font-family: 'of-fira-sans';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/fira-sans-bold.woff2') format('woff2');
}

.of-fira-sans {
  font-family: 'of-fira-sans', var(--fontstack-sans-serif);
}

@font-face {
  font-family: 'of-amiri';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/amiri-bold.woff2') format('woff2');
}

.of-amiri {
  font-family: 'of-amiri', var(--fontstack-serif);
}

@font-face {
  font-family: 'of-cairo';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/cairo-bold.woff2') format('woff2');
}

.of-cairo {
  font-family: 'of-cairo', var(--fontstack-serif);
}

@font-face {
  font-family: 'of-ff-kosmik-pro';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/ff-kosmik-pro-bold.woff2') format('woff2');
}

.of-ff-kosmik-pro {
  font-family: 'of-ff-kosmik-pro', var(--fontstack-sans-serif);
}

@font-face {
  font-family: 'of-punk-nova';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/punk-nova-bold.woff2') format('woff2');
}

.of-punk-nova {
  font-family: 'of-punk-nova', var(--fontstack-sans-serif);
}

// Typotheque
@font-face {
  font-family: 'fedra-serif-multiscript';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/fedra-serif-multiscript-book.woff2') format('woff2');
}

.of-fedra-serif-multiscript {
  font-family: 'fedra-serif-multiscript', var(--fontstack-serif);
}

// TypeKit
@font-face {
  font-family: 'of-hypatia-sans-pro';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/hypatia-sans-pro-bold.woff2') format('woff2');
}

.of-hypatia-sans-pro {
  font-family: 'of-hypatia-sans-pro', var(--fontstack-sans-serif);
}

// TypeKit
@font-face {
  font-family: 'of-caflisch-script-pro';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/caflisch-script-pro-regular.woff2') format('woff2');
}

.of-caflisch-script-pro {
  font-family: 'of-caflisch-script-pro', var(--fontstack-serif);
}

// TypeKit
@font-face {
  font-family: 'of-warnock-pro';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/warnock-pro-bold.woff2') format('woff2');
}

.of-warnock-pro {
  font-family: 'of-warnock-pro', var(--fontstack-sans-serif);
}

// TypeKit
@font-face {
  font-family: 'of-bickham-script-pro-3';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/bickham-script-pro-3-bold.woff2') format('woff2');
}

.of-bickham-script-pro-3 {
  font-family: 'of-bickham-script-pro-3', var(--fontstack-serif);
}

// TypeKit
@font-face {
  font-family: 'of-bree';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/bree-bold.woff2') format('woff2');
}

.of-bree {
  font-family: 'of-bree', var(--fontstack-sans-serif);
}

// TypeKit
// The company (Underware) asked me to remove the font-face declaration for font license reasons.
// Now it's migrated to TypeKit :)
// @font-face {
//   font-family: 'of-bello-pro';
//   font-weight: bold;
//   font-style: normal;
//   src: url('../../../fonts/bello-pro.woff2') format('woff2');
// }

// .of-bello-pro {
//   font-family: 'of-bello-pro', var(--fontstack-sans-serif);
// }

@font-face {
  font-family: 'of-eb-garamond';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/eb-garamond-bold.woff2') format('woff2');
}

.of-eb-garamond {
  font-family: 'of-eb-garamond', var(--fontstack-serif);
}
