//
// Sass variables customization
// -----------------------------------------------------------------------------
// All Sass vaiables in `_variables.scss` can be overwritten below.
// Due to the limitation of Sass, I don't have variable hoisting feature like
// native CSS or Less at hand, so it's dirty to have two user defined
// stylesheets, hope for native color manipulation in the future.
//
// - This file should contain only Sass variables defined in theme Curtana.
// - CSS varaibles customization should be defined in `_user.scss`.

// Variables
$link-color: #08bd77;
$background-color: #fff;
$text-color: #000;
$code-color: #037247;

// Typography
@font-face {
  font-family: 'of-ubuntu-mono';
  font-weight: bold;
  font-style: normal;
  src: url('../../../fonts/ubuntu-mono-bold.woff2') format('woff2');
}

.of-ubuntu-mono {
  font-family: 'of-ubuntu-mono', var(--fontstack-monospace);
}
